.panel h2 {
    font-family: 'Roboto', sans-serif; 
    font-size: 24px; 
    margin-bottom: 20px; 
  }
  
  .panel p {
    margin: 10px 0; 
  }

  
  .panel button{
    margin-top: 20px;
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 18px; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
  }
  
  .panel button:hover {
    background-color: #45a049; 
  }


.panel{
  flex-direction: column;
}