.navbar {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    margin-top: 10px;
    flex: 1;
  }
  
  .logo a {
    color: black;
    text-decoration: none;
    flex: 0.7;
    font-size: 30px;
    margin-left: 10px;
  }
  
  .links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 0.2;
    display: flex;
    justify-content: space-evenly;
}
  
  .links li {
    margin-right: 10px;
  }
  .links li a {
    text-decoration: none;
    transition: 0.15s ease; 
  }
  
  .links li a:hover {
    opacity: 0.5; 
  }

  .language-toggle{
    width: 40px;
    height: 40px;
  }

  .flag-icon {
    border-radius: 12px;
    margin-right: 10px; 
    cursor: pointer; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    object-fit: cover;

}

.flag-icon:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    overflow: hidden; 

}

